# Subsetting 

Review core methods to select data from a `pandas.DataFrame`

## Read in a CSV

In [1]:
import pandas as pd

# Read in file, arguement is the file path
df = pd.read_csv('data/wetlands_seasonal_bird_diversity.csv')

# Print data frmae's first five rows
df.head()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [2]:
# Print data frame's last five rows
df.tail()

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [3]:
# Print data frame's column names
df.columns

Index(['year', 'CSM_winter', 'CSM_spring', 'CSM_fall', 'MUL_winter',
       'MUL_spring', 'MUL_fall', 'SDW_winter', 'SDW_spring', 'SDW_fall',
       'TJE_winter', 'TJE_spring', 'TJE_fall'],
      dtype='object')

In [4]:
# List the data types of each column
df.dtypes

year            int64
CSM_winter    float64
CSM_spring    float64
CSM_fall      float64
MUL_winter    float64
MUL_spring    float64
MUL_fall      float64
SDW_winter    float64
SDW_spring    float64
SDW_fall      float64
TJE_winter    float64
TJE_spring    float64
TJE_fall      float64
dtype: object

In [5]:
type(df.dtypes)

pandas.core.series.Series

In [6]:
# Print data frame's shape: output is a tupe (# rows, # columns)
df.shape

(14, 13)

## Selecting a single column

Simplest case: selecting a single column by column name.

General syntax:
```
df['column_name']
```

This is an example of **label-based subsetting**. WHich means we select data from our data frame using the *names* of the columns, *not their positions*.

### Example

In [7]:
# Select number of bird species observed at Mugu Lagoon in spring
mul_spring = df['MUL_spring']

mul_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

In [8]:
type(mul_spring)

pandas.core.series.Series

We can do label-based subsetting of a single column using attribute syntac

`df.column_name`

### Example

In [9]:
df.MUL_spring

0      NaN
1     52.0
2     58.0
3     58.0
4     52.0
5     50.0
6     48.0
7     54.0
8     54.0
9     52.0
10     NaN
11    55.0
12    55.0
13    59.0
Name: MUL_spring, dtype: float64

Favor `df[column_name]` instead of `df.column_name`

Why?

- The column name might match and attribute or method
- The column name could have a space

## Selecting multiple columns...

... using a list of column names.

Syntax:

```
df[ ['column1', 'column2', 'column3']]
```

Notice: there are double square brackets

- outter brackets are the selection
- inner brackets are the list of names

### Example

In [10]:
# Select species abundance in Tijuana Estuary during winter and fall
tje_wf = df[['TJE_winter', 'TJE_fall']]

In [11]:
# Check the type of tje_wf
print(type(tje_wf))


# Check the shape of the selection 
print(tje_wf.shape)

<class 'pandas.core.frame.DataFrame'>
(14, 2)

## ... using a slice

To select a slice of the columns we will use a special case of `loc` selection.

Syntax:
```
df.loc[ : , 'column_start':'column_end']
```

`column_start` and `column_end` = starting and ending point of column slice, slice includes both endpoints.

- first values passed to `loc` is used to select rows, using a `:` as the row-selection parameter means "select all the rows"

### Example

In [12]:
# Select columns between CSM_winter and MUL_fall
csm_mul = df.loc[ :, 'CSM_winter':'MUL_fall']
csm_mul.head()

   CSM_winter  CSM_spring  CSM_fall  MUL_winter  MUL_spring  MUL_fall
0        39.0        40.0      50.0        45.0         NaN      61.0
1        48.0        44.0       NaN        58.0        52.0       NaN
2        51.0        43.0      49.0        57.0        58.0      53.0
3        42.0        46.0      38.0        60.0        58.0      62.0
4        38.0        43.0      45.0        49.0        52.0      57.0

## Selecting rows...

### ... using a condition

Syntax:
```
df[condition_on_rows]
```

That `condition_on_rows` can be many things.

### Example

We are interested in all data after 2020

In [13]:
# Select all rows iwth year > 2020
beyond_2020 = df[df['year'] > 2020]

beyond_2020

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Condition for our rows = `df['year'] > 2020` this is a `panda.Seires` with **bolean values** (T/F) indicates which rows statisfy the condition year > 2020

In [14]:
# Check the type of df['year']>2020
print(type(df['year']>2020))

# Print the boolean series
df['year']>2020

<class 'pandas.core.series.Series'>

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12     True
13     True
Name: year, dtype: bool

### Check-in
Get the subset of the data frame on which the San Dieguito Wetland has at least 75 species recorded during spring.

In [15]:
df[df['SDW_spring'] >= 75]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0

In [16]:
df['SDW_spring']

0     75.0
1     74.0
2     72.0
3     70.0
4     78.0
5     61.0
6     62.0
7     45.0
8     49.0
9     55.0
10     NaN
11    58.0
12    60.0
13    63.0
Name: SDW_spring, dtype: float64

### Example

Suppose we want to look at data from 2012 to 2015 (including both years).

In [17]:
subset = df[df['year'].between(2012,2015)]
subset

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0

- `df['year']` = column with year values, this is a `pandas.Series`
- `df['year'].between()` we have that `between()` is a method for the pandas.Series. Calling it using `.`
- (2012, 2015): parameter. If we look at the documentation, we see that the method includes both endpoints
- `df['year'].between(2012, 2015)` = a pandas.Seires of boolean values indicating which rows have year equal to 2012, 2013, 2014, 2015
- when you put `df['year'].between(2012, 2015)` in the selection brackets, we obtain rge rows we need.

## Avoid using `loc` for selecting only rows.

It is equivalent to write

```
# Select rows with year < 2015
df[df['year']<2015]
```

and

```
df.loc[df['year']<2015, :]
```

In the second one:
- using `df.loc[row-selection, column-selection]`
- the row selection is the condition `df['year']<2015`
- the column selection is `:` = all columns

## ... using multiple conditions
We can combine conditions to select rows by surrounding each in parenthesis `()` and using the operator `|` and the and operator `&`.

### Example: or

In [18]:
# Select rpws in CSM with more than 50 species in winter or fall
df[ (df['CSM_winter'] > 50) | (df['CSM_fall'] > 50) ]

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

Select rows in which both CSM and SDW have more than 60 bord species during spring

In [19]:
df[(df['CSM_spring'] > 60) & (df['SDW_spring'] > 60)]

Empty DataFrame
Columns: [year, CSM_winter, CSM_spring, CSM_fall, MUL_winter, MUL_spring, MUL_fall, SDW_winter, SDW_spring, SDW_fall, TJE_winter, TJE_spring, TJE_fall]
Index: []

In [20]:
cond1 = df['CSM_spring'] > 60
cond2 = df['CSM_fall'] > 50

### Selecting rows by position

Sometimes we may want to select rows based on their *actual position* in the data frame.
This is **position-based subsetting**. We use `iloc` selection

Syntax:
```
df.iloc[row-indices]
```
`iloc` = integer-location based indexing

### Example

In [21]:
# Select the fifth row (index = 4)
df.iloc[4]

year          2014.0
CSM_winter      38.0
CSM_spring      43.0
CSM_fall        45.0
MUL_winter      49.0
MUL_spring      52.0
MUL_fall        57.0
SDW_winter      61.0
SDW_spring      78.0
SDW_fall        71.0
TJE_winter      60.0
TJE_spring      81.0
TJE_fall        62.0
Name: 4, dtype: float64

In [22]:
df

,year,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
0,2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
1,2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2,2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
3,2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
4,2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
5,2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0
6,2016,41.0,36.0,47.0,63.0,48.0,58.0,67.0,62.0,57.0,76.0,76.0,58.0
7,2017,46.0,41.0,43.0,57.0,54.0,53.0,66.0,45.0,54.0,72.0,63.0,57.0
8,2018,48.0,48.0,44.0,56.0,54.0,57.0,55.0,49.0,51.0,66.0,60.0,55.0
9,2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
10,2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
11,2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
12,2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
13,2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [23]:
df2 = df.set_index('year')
df2

,CSM_winter,CSM_spring,CSM_fall,MUL_winter,MUL_spring,MUL_fall,SDW_winter,SDW_spring,SDW_fall,TJE_winter,TJE_spring,TJE_fall
year,,,,,,,,,,,,
2010,39.0,40.0,50.0,45.0,NaN,61.0,NaN,75.0,85.0,NaN,NaN,81.0
2011,48.0,44.0,NaN,58.0,52.0,NaN,78.0,74.0,NaN,67.0,70.0,NaN
2012,51.0,43.0,49.0,57.0,58.0,53.0,71.0,72.0,73.0,70.0,63.0,69.0
2013,42.0,46.0,38.0,60.0,58.0,62.0,69.0,70.0,70.0,69.0,74.0,64.0
2014,38.0,43.0,45.0,49.0,52.0,57.0,61.0,78.0,71.0,60.0,81.0,62.0
2015,44.0,42.0,45.0,58.0,50.0,51.0,71.0,61.0,65.0,73.0,76.0,64.0
2016,41.0,36.0,47.0,63.0,48.0,58.0,67.0,62.0,57.0,76.0,76.0,58.0
2017,46.0,41.0,43.0,57.0,54.0,53.0,66.0,45.0,54.0,72.0,63.0,57.0
2018,48.0,48.0,44.0,56.0,54.0,57.0,55.0,49.0,51.0,66.0,60.0,55.0
2019,39.0,39.0,40.0,57.0,52.0,53.0,54.0,55.0,53.0,63.0,54.0,50.0
2020,46.0,NaN,47.0,56.0,NaN,66.0,57.0,NaN,58.0,54.0,40.0,54.0
2021,47.0,44.0,53.0,54.0,55.0,60.0,57.0,58.0,57.0,53.0,68.0,51.0
2022,40.0,46.0,49.0,60.0,55.0,65.0,57.0,60.0,57.0,60.0,61.0,60.0
2023,56.0,43.0,36.0,72.0,59.0,53.0,64.0,63.0,33.0,60.0,56.0,38.0

In [ ]:
# Selecting 5th row by index label // loc is indexing by LABELS
df2.loc[2014]

# Python would not like this since 5 is not in our (year) index
 # df2.loc[5]

CSM_winter    38.0
CSM_spring    43.0
CSM_fall      45.0
MUL_winter    49.0
MUL_spring    52.0
MUL_fall      57.0
SDW_winter    61.0
SDW_spring    78.0
SDW_fall      71.0
TJE_winter    60.0
TJE_spring    81.0
TJE_fall      62.0
Name: 2014, dtype: float64

In [ ]:
# Selecting the 5th row by the index
df2.iloc[4]

CSM_winter    44.0
CSM_spring    42.0
CSM_fall      45.0
MUL_winter    58.0
MUL_spring    50.0
MUL_fall      51.0
SDW_winter    71.0
SDW_spring    61.0
SDW_fall      65.0
TJE_winter    73.0
TJE_spring    76.0
TJE_fall      64.0
Name: 2015, dtype: float64

## Select rows and columns simultaneously

Can be dome using `loc` or `iloc` (positions)

### ... by labels or conditions

Syntax:
```
df.loc[ row-selction, column-selection]
```

### Example
Select winter surveys for Mugu Lagoon and Tijuana Estuary after 2020

In [27]:
df.loc[df['year']>2020, ['MUL_winter', 'TJE_winter']]

    MUL_winter  TJE_winter
11        54.0        53.0
12        60.0        60.0
13        72.0        60.0

### ... by postion
Use `iloc`

Syntax:
```
df.loc[ row-indices, column-indices]
```

### Example
Suppose we want to select rows 3-7 (including 7) and the fourth and fifth column (index = 3,4)

In [28]:
df.iloc[3:8, [3,4]]

   CSM_fall  MUL_winter
3      38.0        60.0
4      45.0        49.0
5      45.0        58.0
6      47.0        63.0
7      43.0        57.0

## `iloc` column selection?

### Example

Suppose we want to access the 9th column in `df`.
In this case, we already know this column is the San Dieguito Wetland during spring.

In [29]:
df.iloc[:,8]

0     75.0
1     74.0
2     72.0
3     70.0
4     78.0
5     61.0
6     62.0
7     45.0
8     49.0
9     55.0
10     NaN
11    58.0
12    60.0
13    63.0
Name: SDW_spring, dtype: float64